<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xiaozhi.modules.model.mapper.ModelProviderMapper">

    <resultMap id="BaseResultMap" type="xiaozhi.modules.model.domain.ModelProvider">
            <id property="id" column="id" />
            <result property="modelType" column="model_type" />
            <result property="providerCode" column="provider_code" />
            <result property="name" column="name" />
            <result property="fields" column="fields" />
            <result property="sort" column="sort" />
            <result property="creator" column="creator" />
            <result property="createDate" column="create_date" />
            <result property="updater" column="updater" />
            <result property="updateDate" column="update_date" />
    </resultMap>

    <sql id="Base_Column_List">
        id,model_type,provider_code,name,fields,sort,
        creator,create_date,updater,update_date
    </sql>
</mapper>
